body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/75dec433-f625-4be0-bece-6aded7e29603/dddrkgf-1352ef4c-412d-4b4f-88a3-a4b48c54c752.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc1ZGVjNDMzLWY2MjUtNGJlMC1iZWNlLTZhZGVkN2UyOTYwM1wvZGRkcmtnZi0xMzUyZWY0Yy00MTJkLTRiNGYtODhhMy1hNGI0OGM1NGM3NTIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UaX4fxTCUAPCtyTwkY7GsTh6mJkxk7CMFfGCbkMHZHY);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
